* {
  margin: 0;
  padding: 0; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8F6F2;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%; }
  form input {
    margin: 1rem;
    background-color: white;
    border-style: none;
    padding: 10px;
    color: black; }
  form button {
    background-color: #FAF050;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer; }

.product_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20%;
  margin-right: 10%; }
  .product_container .single_product {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #F8F6F2;
    margin-top: 10px;
    margin-left: 10px; }
    .product_container .single_product button {
      background-color: #FAF050;
      border-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer; }

.product_heading {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  padding: 4rem;
  background-color: #F8F6F2;
  margin-top: 40px;
  margin-bottom: 40px; }

.product_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 80px; }
  .product_wrapper .single_product_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .product_wrapper .single_product_wrapper .product_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      background-color: #F8F6F2;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem; }
      .product_wrapper .single_product_wrapper .product_info h3 {
        padding-bottom: 0.5rem; }
      .product_wrapper .single_product_wrapper .product_info p {
        padding-bottom: 0.5rem; }
      .product_wrapper .single_product_wrapper .product_info button {
        background-color: #FAF050;
        border-style: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer; }
      .product_wrapper .single_product_wrapper .product_info button:hover {
        background-color: black;
        color: white; }
    .product_wrapper .single_product_wrapper img {
      width: 300px;
      height: 300px; }

body {
  font-family: 'Raleway', sans-serif; }

.site_header {
  background-color: #F8F6F2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center; }
  .site_header .logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 1rem; }
  .site_header ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem; }
    .site_header ul .cart {
      background-color: #FAF050; }
    .site_header ul li {
      margin-left: 2rem;
      padding: 5px; }
      .site_header ul li a {
        text-decoration: none;
        color: black; }
      .site_header ul li span {
        padding-left: 0.5rem; }

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.cart-product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F6F2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .cart-product-wrapper h5 {
    padding-top: 10px; }

img {
  width: 150px;
  height: 150px; }

ion-icon {
  font-size: px;
  cursor: pointer; }

.basket-total-container {
  text-align: center; }
  .basket-total-container .basket-total-title {
    font-size: 25px; }
  .basket-total-container .basket-total {
    font-size: 25px;
    color: green; }
