* {
  margin: 0;
  padding: 0; }

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F8F6F2;
  padding: 1rem;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 20%; }
  form input {
    margin: 1rem;
    background-color: white;
    border-style: none;
    padding: 10px;
    color: black; }
  form button {
    background-color: #FAF050;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700; }

.product_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 20%;
  margin-right: 10%; }
  .product_container .single_product {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    background-color: #F8F6F2;
    margin-top: 10px;
    margin-left: 10px; }
    .product_container .single_product button {
      background-color: #FAF050;
      border-style: none;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      font-size: 16px;
      font-weight: 700;
      cursor: pointer; }
    .product_container .single_product #file {
      width: 10vw; }
    .product_container .single_product h3 {
      margin-top: 1rem; }

.product_heading {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  font-size: 7vw;
  padding: 4rem;
  background-color: #F8F6F2;
  margin-top: 40px;
  margin-bottom: 40px; }

.product_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 80px; }
  .product_wrapper .single_product_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px; }
    .product_wrapper .single_product_wrapper .product_info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: space-between;
      background-color: #F8F6F2;
      width: 100%;
      padding-top: 2rem;
      padding-bottom: 2rem; }
      .product_wrapper .single_product_wrapper .product_info h3 {
        padding-bottom: 0.5rem; }
      .product_wrapper .single_product_wrapper .product_info p {
        padding-bottom: 0.5rem; }
      .product_wrapper .single_product_wrapper .product_info button {
        background-color: #FAF050;
        border-style: none;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 16px;
        font-weight: 700;
        cursor: pointer; }
      .product_wrapper .single_product_wrapper .product_info button:hover {
        background-color: black;
        color: white; }
    .product_wrapper .single_product_wrapper img {
      width: 300px;
      height: 300px; }

body {
  font-family: 'Raleway', sans-serif;
  height: 100%;
  min-height: 100%; }

.site_header {
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
  background-color: #F8F6F2; }

span {
  padding-left: 0.5rem; }

.logo_container {
  position: absolute;
  margin-left: 20px; }

.cart {
  background-color: #FAF050; }

.menu {
  margin: 0 30px 0 0; }

.menu a {
  line-height: 70px;
  background-color: #F8F6F2;
  font-size: 1.5rem;
  text-decoration: none;
  margin-left: 2rem;
  font-weight: bold;
  color: black; }

.menu a:hover {
  color: blue; }

label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none; }

#toggle {
  display: none; }

.products {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 40px; }

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.cart-product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F6F2;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .cart-product-wrapper h5 {
    padding-top: 10px; }

img {
  width: 150px;
  height: 150px; }

ion-icon {
  font-size: px;
  cursor: pointer; }

.basket-total-container {
  text-align: center; }
  .basket-total-container .basket-total-title {
    font-size: 25px; }
  .basket-total-container .basket-total {
    font-size: 25px;
    color: green; }

.checkout-btn {
  background-color: #FAF050;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  margin-top: 2rem; }

.checkout-btn:hover {
  background-color: black;
  color: white; }

.checkoutMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F8F6F2;
  padding: 40px;
  margin-top: 50px;
  margin-right: 10%;
  margin-left: 10%;
  color: green; }
  .checkoutMessage .pdf_btn {
    background-color: #FAF050;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 2rem; }

.banner-container {
  background-image: url(/Images/banner1.jpg);
  height: 60vw;
  background-position: center;
  /*background-repeat: no-repeat;*/
  background-size: cover;
  position: relative;
  opacity: 0.7;
  width: 100vw; }

.inner-container {
  position: absolute;
  width: 100%;
  height: auto; }

.banner-h1 {
  font-size: 12vw;
  padding-left: 20vw;
  padding-top: 20vw; }

h2 {
  margin-top: -5px;
  font-size: 5vw;
  text-align: center;
  font-weight: 300; }

#container {
  min-height: 100vh; }

#main {
  overflow: auto;
  padding-bottom: 200px; }

.footer {
  display: flex;
  position: relative;
  padding-top: 40px;
  justify-content: space-around;
  text-align: center;
  height: 215px;
  margin-top: -100px;
  bottom: 0%;
  clear: both;
  background-color: lightgray;
  width: 100%; }

.footer img {
  width: 120px;
  height: 50px; }

ul {
  list-style: none; }

.footer a {
  text-decoration: none;
  color: black; }

.active_link, a:hover {
  color: white;
  font-weight: bold; }

h3 {
  margin-bottom: 10px; }

h4 {
  font-weight: 400; }

.social-media img {
  display: none; }

.title {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 50px; }

.tags {
  font-weight: bold;
  margin-right: 50px; }

#phone {
  margin-left: 28px; }

#name {
  margin-left: 27px; }

#email {
  margin-left: 18px; }

#contact_btn {
  background-color: lightgray;
  margin-top: 30px;
  padding: 9px;
  width: 80px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px #888888; }

#message {
  min-height: 80px;
  margin-left: -30px;
  text-overflow: hidden;
  overflow-wrap: break-word; }

#name, #email, #phone, #message {
  width: 280px;
  border: 2px solid gray;
  border-radius: 10px; }

@media only screen and (max-width: 617px) {
  .footer {
    flex-direction: column;
    height: 535px; }
  .footer ul {
    margin-bottom: 40px; }
  #main {
    padding-bottom: 180px; }
  h4 {
    display: none; }
  .social-media img {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-top: 10px; }
  nav ul a {
    font-size: 1rem; }
  .logo_container h1 {
    font-size: 1rem; } }

@media only screen and (max-width: 700px) {
  label {
    display: block;
    cursor: pointer; }
  .menu {
    text-align: center;
    width: 100%;
    display: none; }
  .menu a {
    display: block;
    border-bottom: 2px solid gray;
    margin: 0;
    position: relative;
    z-index: 50; }
  .menu a:nth-child(1) {
    border-top: 2px solid gray; }
  #toggle:checked + .menu {
    display: block; } }

@media only screen and (max-width: 850px) {
  #name, #email, #phone, #message {
    width: 40vw;
    margin-left: 35px; } }

@media only screen and (max-width: 698px) {
  .title {
    font-size: 1.5rem; } }

@media only screen and (max-width: 390px) {
  .title {
    font-size: 1rem; }
  .tags {
    font-size: 0.7rem; } }

#submit-field-box {
  background-color: #FAF050;
  border-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  font-weight: 700; }

.added_product_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: 1rem;
  margin-right: 1rem; }

.added_product_wrapper img {
  width: 300px;
  height: 300px; }

.added_product_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  background-color: #F8F6F2;
  padding: 2rem; }
  .added_product_div button {
    background-color: #FAF050;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 1rem;
    margin-bottom: 1rem; }
  .added_product_div button:hover {
    background-color: black;
    color: white; }
  .added_product_div h3 {
    margin-top: 1rem; }
