form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: burlywood;
    padding: 1rem;
    margin-top: 2rem;
    margin-left: 20%;
    margin-right: 20%;
    
    
    
}

input {
    margin: 1rem;
    
}