.banner-container{
    background-image:url(/Images/pic.jpg);
    height:70vh;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size:cover;
    position: relative;
    opacity:0.7;


}

.inner-container{
    text-align:center;
    position: absolute;
    width: 100%;
    height:auto;
    margin-top:100px;
    
    
}

.banner-h1{
    font-size:4em; 
    
}

h2{
    margin-top: -17px;
    font-size: 1.7em;
    text-align:center;
    font-weight:300;
   
}

