.banner-container{
    background-image:url(/Images/banner1.jpg);
    height:65vh;
    background-position: center;
    /*background-repeat: no-repeat;*/
    background-size:cover;
    position: relative;
    opacity:0.7;


}

.inner-container{
    text-align:center;
    position: absolute;
    width: 100%;
    height:auto;

    
    
}

.banner-h1{
    font-size:4em; 
    text-align:center;
  padding-top:150px;
 
}

h2{
    margin-top: -5px;
    font-size: 1.7em;
    text-align:center;
    font-weight:300;
    margin-top:px;   
   
}

