
<<<<<<< HEAD

=======
#container {
    min-height: 100vh;
}
>>>>>>> master

#main {
    overflow: auto;
    padding-bottom: 200px;
}
.footer {
    display: flex;
    position: relative;
    padding-top: 40px;
    justify-content: space-around;
    text-align: center;
    height: 215px;
    margin-top: -100px;
    bottom: 0%;
    clear: both;
    background-color: lightgray;
    width: 100%;
}

.footer img {
    width:120px;
    height:50px;
}

 

ul  {
    list-style: none;   //removed bullets
    
}

.footer a {
    text-decoration: none;
    color: black;
}

.active_link, a:hover {

    color: white;
    font-weight: bold;
}

h3 {
    margin-bottom: 10px;
    
}

h4 {
    font-weight: 400;
}

.social-media img {
    display: none;
}



