.site_header {

    border-bottom: 1px solid #EAEAEB;

    text-align: right;

    height: 70px;

    line-height: 70px;

    background-color: #F8F6F2;

}



span {

    padding-left: 0.5rem;

}



.logo_container {

    position: absolute;

    margin-left: 20px;

}



.cart 

    {

        background-color: #FAF050;

    }



.menu {

    margin: 0 30px 0 0; //30 from the right

    

}

.menu a {

      line-height: 70px;//when icons are hidden, menu will be centered 

      background-color: #F8F6F2;

      font-size: 1.5rem;

      text-decoration: none;

      margin-left: 2rem;

      font-weight: bold;

      color: black;

}



 .menu a:hover {

color: #FAF050; 


}



label {

    margin: 0 40px 0 0; //space from the right

    font-size: 26px;

    line-height: 70px;

    display: none;

    

}



#toggle {

    display: none;

}





