.site_header {}

.logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
    border-bottom: 1px solid #EAEAEB;

    text-align: right;

    height: 70px;

    line-height: 70px;

    background-color: #F8F6F2;

}



ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding-top:1rem; 
    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    


.cart 
    {
        background-color: #FAF050;

    


margin-left: 2rem;
padding: 5px;
    }

.menu {

    margin: 0 30px 0 0; //30 from the right

}

a {
    text-decoration: none;
    color: black;
}

.menu a {

      line-height: 70px;//when icons are hidden, menu will be centered 

      background-color: #F8F6F2;

      font-size: 1.5rem;

      text-decoration: none;

      margin-left: 2rem;

      font-weight: bold;

      color: black;

}



 .menu a:hover {

     color: blue;

 }



}

