.site_header {
background-color: #F8F6F2;;
display: flex;
flex-direction:  row;
justify-content: space-between;
align-content: center;

.logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 1rem;
}

ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
    padding-top:1rem; 
    padding-bottom: 1rem;
    padding-right: 2rem;
    font-size: 1.5rem;
    


.cart 
    {
        background-color: #FAF050;
    }

 li {

margin-left: 2rem;
padding: 5px;


a {
    text-decoration: none;
    color: black;
}

span {
    padding-left: 0.5rem;
}

 }



}

}