
    #submit-field-box {
    background-color: #FAF050;
    border-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 100;
   
  
}

