
* {
    margin: 0;
    padding: 0;
}




@import "_addProduct.scss";
@import "_products.scss";
@import "_fontColors.scss";
@import "_header.scss";
@import "_cart.scss";
@import "_banner.scss"; 
@import "_footer.scss";
@import "_contact.scss";
@import "_mediaqueries.scss";
@import "_login.scss";
@import "_addedProducts.scss";
@import "_gallery.scss";


