
* {
    margin: 0;
    padding: 0;
}



@import "_addProduct.scss";
@import "_products.scss";
@import "_fontColors.scss";
@import "_header.scss";
@import "_cart.scss";
@import "_banner.scss"; 
@import "_login.scss";
